    
 /*
 Selecteur logique: une balise html 
*/
    /*Faire en sorte que tous les textes de la page soient centrés*/

    body{
        text-align: center;
    }

    


    /*sélectionner la balise h2 et les balises h3*/
    h2, h3{
        /*Changer la couleur de la font*/
        color: darkgrey;
    }

    /*Sélectionner les balises a*/
    a{
        /*Supprimer le soulignement*/
        text-decoration: none;
    }


 /*Sélecteur imbriqué*/
 h2 b{
     color: blue;
 }

.redBackground h2, .redBackground h2 b{color: green;

}
 /*
 Selecteur par class
 */
        /*Sélectionner la classe .redBackground*/
    .redBackground{
        /*Modifier la couleur de fond*/
        background-color: skyblue;
    }    

    /*
    Sélecteur par id
    */
        /*Sélectionner id BigTitle*/
         #bigTitle{
             /*Modifier la taille de la font*/
      font-size: 3rem
         }

/*
Sélecteur d'interaction (état)
*/
    /*Changer la couleur des balises a au survol*/
    a:hover{
        color:red;
    }

    .redBackground:hover{
        background-color: grey
    }