

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


/*Style reset*/

*{
    padding: 0;
    margin: 0;
    /*box-sizing sert à ce que cela ne part pas dans la marge. Webkit pour les autres navigateurs*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    }

header{
    background-image: url(img/header.jpg);
    /*Image en tant que couverture*/
    background-size: cover;
    padding: 16rem 2rem 8rem 2rem;   

}

header a{
    color:#F05F40;
}

header > a, main section a{
    border: none;
    border-radius: 1rem;
    color: #F05F40;
    padding: 1rem;
    background-color: #F05F40;
    text-transform:uppercase;
}

main section:first-child > a, main section:nth-child(4) > a, {
    color:black;
    background-color: white;
}

nav{
    background: white;
    /*Qd tu scrall la nav reste*/
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 2rem; 
    text-align: right;
    border-bottom: .1rem solid rgba(255, 255, 255, .3);

}


nav ul {
    display: none;
}


nav a{
    color: #222;
}

nav a:hover{
    color:#F05F40;
}

li{
    font-weight: 700;
    padding: 0;
    margin: 1rem auto;

}
    /*Sous-titre*/

h1,h2,h3,{
    margin-bottom:1rem;
}

h1{
    text-transform: uppercase;
    color: white;    
}

h2{
    padding-top:3rem;
}

    /*Paragraphe*/


    /*Décorer les fin de section et enlevé celle qui l'ont été en trop la section 4*/
h1:after, h2:after{
    content: " ";
    background: #F05F40;
    display: block;
    height: .3rem;
    width:5rem;
    margin:2rem auto;
    
}

main section:nth-child(4) h2:after{
    content: none;
}


main section:first-child h2:after{
    background: white;
 }

 
header p{
    color: grey;
    padding:3rem;

}


header a{
    color: white;
    
}

/*Style section 2*/

    section:nth-child(2){
        color: #222;
        padding: 4rem 2rem;
    }

            /*Aggrandissmeent des émoticones .fa*/
    section:nth-child(2) .fa{
        font-size: 4rem;
        color: #F05F40;
    }

    h3 + p {
        color: grey;
        margin-bottom: 4rem;
    }









/*Temps de transition au moment de passage sur la souris*/
 a, figcaption, nav p{
     text-decoration: none;

    -webkit-transition: all .5s;
     transition: all .5s;
    }


/*section1*/

main section:first-child{
    background:#F05F40;
    padding: 12rem 2rem 8rem 2rem;
    
}


main section:first-child h2{
    color: white;
    padding-top: 2rem;
    font-size:2.5rem;
    font-weight: normal;
  
 }

main section:first-child p{
    color: rgba(255,255,255,.7);
    margin-bottom: 2rem;
    margin-top: 3rem;
 }


/*section 3- caler images*/

figure{
    width:33.333%;
    /*Obligé dans la section 4 d'utiliser clear-both car le float va tjs dans la balise suivante.*/
    float: left;
    line-height: 0;
    position:relative;
}

figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    line-height: 1;
    background: rgba(240,95,64,.9);
    opacity: 0;

}

figcaption a{
    top: 50%;
    left: 50;
    position: absolute;
    width: 80%;
}

figcaption:hover{
    opacity: 1;
     }

/*Section 4*/
main section:nth-child(4){
    background: #222;
    color:white;
    padding:2rem;
    padding: 4rem 2rem 6rem 2rem;
    clear:both;
}

 section:nth-child(4) h2{
        margin-bottom: 4rem;
    }



/*Changer couleur de deux élements de section*/
main section:first-child > a, main section:nth-child(4) >a{
    color:black;
    background: white;
    font-weight: bold;

     }
   




/*Footer*/
footer{ 
padding: 2rem 4rem;
}



                /*Ajouter les médias 650-850*/