<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page d'acceuil</title>
</head>
<body>

    <h2>Bienvenue sur mon site</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ut libero, rerum temporibus? Laborum asperiores commodi sunt saepe quisquam cumque autem non dicta temporibus ad. Veniam quae ipsam, debitis facilis!</p>
    
</body>
</html>