<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
</head>
<body>

    <h2>Titre de la section Portfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laudantium voluptate doloremque molestiae at, cum id repudiandae ullam saepe magnam esse facere unde ratione, voluptatibus eius natus illo nemo enim!</p>
    
</body>
</html>